<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xugter.cooridnatorlayoutstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".part1.Part1GuideActivity" />
        <activity android:name=".part1.BaseActivity1" />
        <activity android:name=".part1.BaseActivity2" />
        <activity android:name=".part1.BaseActivity3" />
        <activity android:name=".part2.Part2GuideActivity" />
        <activity android:name=".part2.move.MoveActivity" />
        <activity android:name=".part2.scroll.ScrollActivity" />
        <activity android:name=".part2.layout.LayoutActivity" />
        <activity android:name=".part3.RealXiamiActivity" />
        <activity android:name=".xiami.XiamiActivity" />
    </application>

</manifest>